/* Web-GUI-for-stockfish-chess
https://github.com/antiproton/Web-GUI-for-stockfish-chess
    Version vom 19.5.2015
    Autor: Dr. R. Urban*/
    
    
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
}
body {
	background-color: #FFFFFF;
}
#hideme {display: none;}
#Zeitweiss {
border-radius: 5px;
position: relative;
top: 0px;
left: 0px;
width: 200px;
height: 26px;
margin: 0px;
padding: 0px;
border: none;
background-color: #666666;

}
#ZeitAnzeige {
position: absolute;
top: 0px;
left: 0px;
background: transparent;
width: 200px;
line-height: 26px;
text-align: center;
color: #FFFFFF;
font-family: Verdana,Arial,Helvetica,sans-serif;
font-size: 12px;
font-weight: normal;
}
